.city {
  background: $background-dark;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 3vh 0;
  z-index: 1;
  i {
    margin-right: 5vw;
  }
  p {
    font-weight: 500;
  }
}
