.city {
  background: $background-dark;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 3vh 0;
  z-index: 1;
  i {
    margin-right: clamp(15px, 5vw, 40px);
  }
  input {
    font-weight: 500;
    outline: none;
    background: $background-dark;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: clamp(16px, 1rem + 0.1vh, 20px);
  }
}
