.restaurants {
  background: $background-light;
  padding: 5vh 5vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  @media screen and (min-width: 850px) {
    padding: 5vh 10vw;
    justify-content: space-between;
    align-items: center;
  }
}

.res-card {
  @include box-shadow;
  border-radius: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 90vw;
  overflow: hidden;
  position: relative;
  margin-bottom: 3vh;
  @media (min-width: 850px) {
    max-width: 500px;
  }
  @media (min-width: 1100px) {
    width: 90%;
    max-width: unset;
    min-width: 400px;
  }
  &__new-toast {
    position: absolute;
    padding: 1vh 3vw;
    border-radius: 5px;
    top: 5%;
    right: 3%;
    background: $color-tertiary;
    color: darken($color-tertiary, 40);
    font-weight: 500;
    @include box-shadow;
  }
  &__image {
    width: 100%;
    height: 22vh;
  }
  &__label {
    background: white;
    padding: 3vh 5vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  &__info {
    h3 {
      margin-bottom: 1vh;
    }
  }
  &__icon {
    font-size: 1.8em;
    color: rgba(0 0 0 / 0);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    &:hover {
      @include gradient-back;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 0;
    }
  }
}

#palette {
  @include background-image(palette);
}

#note {
  @include background-image(note);
}

#francaise {
  @include background-image(francaise);
}

#delice {
  @include background-image(delice);
}
