header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vh 0;
  box-shadow: 0px 2px 5px rgba(0 0 0 / 10%);
  z-index: 999;
  position: relative;
  i {
    position: absolute;
    left: 5%;
    top: 40%;
  }
}
